/* CSS stylesheet  for application */

table {
    border-collapse: collapse;
    border: 1px solid silver;
    padding:15px;
}

th, td {
    border: 1px solid silver;
    padding:15px;
}

head{
    margin-left: 10%;
    margin-right: 10%;
}

.displayInLine{
    display: inline-block;
}


